# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
node_modules
bower_components

# misc
.sass-cache
connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log*
testem.log

# custom
*.swp
*.swo
.idea*
web.config
dist
.tmp
.sass-cache
**~
.publish
.env
public
tmp
