# {{ ansible_managed }}
upstream backend {
  server 0.0.0.0:3000;
}

server {
  listen 80;
  listen [::]:80;
  server_name {{ item.value.server_name }};
  location / {
    proxy_pass http://backend;
  }

    listen 443 ssl; # managed by Certbot
ssl_certificate /etc/letsencrypt/live/{{ item.value.server_name }}/fullchain.pem; # managed by Certbot
ssl_certificate_key /etc/letsencrypt/live/{{ item.value.server_name }}/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot


    if ($scheme != "https") {
        return 301 https://$host$request_uri;
    } # managed by Certbot

}
