<div class="background-slider">
  <div class="background-slider__inset-shadow"></div>
  {{#each imageArray as |imageNumber|}}
    <img class="background-slider__image" src="assets/images/image{{imageNumber}}.jpg" />
  {{/each}}
</div>
