<div class="container">
  <div class="row">
    <div class="col-md-12">
      {{ current-time-display }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      {{ weather-display }}
    </div>
  </div>
</div>
