<div class="row">
  <div class="col-xl-8 col-lg-6 col-md-7 col-sm-6">
    {{ current-time-display }}
  </div>

  <div class="col-xl-4 col-lg-6 col-md-5 col-sm-6">
    {{calendar-display}}
  </div>
</div>
{{ weather-display }}
