.weather {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: rgba(0,0,0,.4);
  padding: 20px 50px;
  color: white;
  display: flex;
  height: 125px;

  &__text-content {
    width: 350px;
    flex-shrink: 0;
    margin-right: 20px;
  }

  &__hourly-content {
    width: calc(100% - 700px);
    display: flex;
    align-items: center;
  }

  &__daily-content {
    width: 350px;
    margin-left: 20px;

    .weather-chart {
      float: right;
    }
  }

  &__degree {
    &:before {
      content: "a";
      color: transparent;
    }
    &:after {
      content: "\00b0 F";
      font-size: 50%;
      position: absolute;
      top: 9%;
      right: 0;
    }

    &--large:before {
      font-size: 50%;
    }
  }

  &__temperature-text {
    position: relative;
    display: inline-block;
  }

  &__forcast {
    display: flex;
  }

  &__forcast--icon {
    margin-left: 6px;
    margin-right: 6px;
  }

  &__large-forcast-temp {
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    margin-bottom: 8px;
  }

  &__large-forcast-high-temp {
  }

  &__large-forcast-low-temp {
    color: #666;
  }
}
